@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: rajdhani, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  /* background: radial-gradient(circle at center, #282828 0, #0a0a0a 120%) #0a0a0a; */
  background: #000;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "rajdhani";
  src: URL("../public/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "rajdhani-medium";
  src: URL("../public/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "rajdhani-bold";
  src: URL("../public/assets/fonts/Poppins-Bold.ttf") format("truetype");
}

model-viewer {
  @apply w-full h-[160%] mt-60 xl:mt-0 xl:h-[190%];
}

.bg-gradient {
  background: linear-gradient(0deg, #353535 0%, #010101 100%);
}

.bg-gradient-rev {
  background: linear-gradient(0deg, #010101 0%, #353535 100%);
}

.blurredBg {
  box-shadow: 0px 1px 2px rgba(9, 13, 20, 0.24),
    -2px -2px 4px rgba(224, 224, 255, 0.02), 0px 4px 4px rgba(9, 13, 20, 0.12);
  background: linear-gradient(
    135deg,
    rgba(245, 247, 250, 0.06) 0%,
    rgba(245, 247, 250, 0.0001) 100%
  );
}

.rc-slider-track {
  background-color: #f70817 !important;
}

.rc-slider-handle {
  border: solid 2px #f70817 !important;
}

.rc-slider-handle-dragging {
  box-shadow: 0 0 0 3px #d36d74 !important;
}

.snap-parent-y-mandatory {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.snap-child-start {
  z-index: 10;
  scroll-snap-align: start;
  flex: none;
}

.snap-child-end {
  z-index: 10;
  scroll-snap-align: end;
  flex: none;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

.tooltip.tooltip-open:before,
.tooltip.tooltip-open:after,
.tooltip:hover:before,
.tooltip:hover:after {
  margin-bottom: 5px;
  margin-left: 4px;
}

.override li{
  @apply opacity-100 blur-0 scale-100 !important;
}

.tooltip:after {
  width: 7px;
  height: 6px;
}

.imageVignette::after {
  box-shadow: inset 0px 0px 10px 5px #000000;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  filter: drop-shadow(2px 4px 5px black);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  background: linear-gradient(0deg, #353535 0%, #010101 100%);
  filter: blur(10px) contrast(18);
  mix-blend-mode: screen;
}

.box {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #f70817;
}

.box:nth-child(odd) {
  animation: spinLeft 2.5s 0.2s linear both infinite;
}

.box:nth-child(even) {
  animation: spinRight 1s 0.4s linear both infinite;
}

.box:nth-child(2n) {
  animation: pulse 2s ease-in-out 0.1s infinite;
}

.box:nth-child(4n) {
  animation-direction: reverse;
}

@keyframes pulse {
  50% {
    transform: scale(1.8);
  }
  70% {
    transform: scale(0.6);
  }
}
@keyframes spinLeft {
  from {
    transform: rotate(0deg) translate(50px);
  }
  to {
    transform: rotate(360deg) translate(50px);
  }
}
@keyframes spinRight {
  from {
    transform: rotate(360deg) translate(50px);
  }
  to {
    transform: rotate(0deg) translate(50px);
  }
}
@layer components {
  .blurred-bg {
    background: linear-gradient(
      135deg,
      rgba(92, 87, 87, 0.6) 40%,
      rgba(245, 247, 250, 0.3) 100%
    );
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.custom-scroll::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  @apply bg-[#d3d3d3] rounded-full;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
