@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: rajdhani, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "rajdhani-light";
  src: URL("../public/assets/fonts/Rajdhani-Light.ttf") format("truetype");
}

@font-face {
  font-family: "rajdhani";
  src: URL("../public/assets/fonts/Rajdhani-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "rajdhani-medium";
  src: URL("../public/assets/fonts/Rajdhani-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "rajdhani-bold";
  src: URL("../public/assets/fonts/Rajdhani-Bold.ttf") format("truetype");
}
